Checks: >-
  boost*,
  bugprone*,
  -bugprone-branch-clone,
  cert*,
  clang-analyzer*,
  misc*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  performance*,
  portability*,
  readability*,
  -readability-else-after-return,
  -readability-named-parameter,
  -readability-magic-numbers,
  -readability-redundant-member-init,
  -readability-implicit-bool-conversion
WarningsAsErrors: >-
  boost*,
  bugprone*,
  cert*,
  clang-analyzer*,
  misc*,
  performance*,
  portability*,
  readability*
CheckOptions:
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: 'false'
