Checks: >-
  boost*,
  bugprone*,
  -bugprone-branch-clone,
  cert*,
  clang-analyzer*,
  cppcoreguidelines*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds*,
  -cppcoreguidelines-pro-type-vararg,
  google-readability-*,
  misc*,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  modernize*,
  -modernize-redundant-void-arg,
  -modernize-use-default-member-init,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance*,
  portability*,
  readability*,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-member-init
WarningsAsErrors: >-
  boost*,
  bugprone*,
  cert*,
  clang-analyzer*,
  cppcoreguidelines*,
  google*,
  misc*,
  modernize*,
  performance*,
  portability*,
  readability*
CheckOptions:
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: 'false'
