**/*.o
**/*.swp
**/*.d
**/*.pb.cc
**/*.pb.h
**/*.gcno
**/*.so
**/*.dtb
**/*.bin
**/*.md

**/Dockerfile*

build
third-party/downloads
third-party/grpc
src/cartesi-machine-client
src/cartesi-machine-server
src/cartesi-machine-hash

doc/html
doc/api.md
doc/html/
doc/xml/

.git
.github
.venv
.vscode
