**/*.o
**/*.a
**/*.swp
**/*.d
**/*.pb.cc
**/*.pb.h
**/*.gcno
**/*.so
**/*.dtb
**/*.bin
!uarch/uarch-ram.bin
**/*.md
**/*.deb

build
third-party/downloads
src/cartesi-jsonrpc-machine
src/cartesi-merkle-tree-hash

doc/html
doc/api.md
doc/html/
doc/xml/

.git
.github
.venv
.vscode
