[submodule "lib/grpc-interfaces"]
	path = lib/grpc-interfaces
	url = ../grpc-interfaces.git
[submodule "tests/riscv-tests"]
	path = tests/riscv-tests
	url = ../riscv-tests.git
[submodule "tests/riscv-arch-test"]
	path = tests/riscv-arch-test
	url = ../riscv-arch-test.git
