*.o
*.swp
*.d

build
third-party/cryptopp-CRYPTOPP_7_0_0
third-party/downloads
third-party/grpc
third-party/lua-5.3.5
third-party/luasocket
src/cartesi-machine-client
src/cartesi-machine-server
src/cartesi-machine-hash

doc/html
doc/api.md
doc/html/
doc/xml/

.venv
.vscode

*.so
*.dtb
