*.o
*.swp
*.d
*.clang-tidy

build
third-party/cryptopp-CRYPTOPP_7_0_0
third-party/downloads
third-party/grpc
third-party/lua-5.3.5
third-party/luasocket
src/remote-cartesi-machine-proxy
src/remote-cartesi-machine
src/server-manager
src/merkle-tree-hash
src/tests/test-machine-c-api
src/tests/test-merkle-tree-hash
src/tests/test-server-manager

doc/html
doc/api.md
doc/html/
doc/xml/

.venv
.vscode
.ycm_extra_conf.py

*.so
*.dylib
*.dtb
