*.o
*.swp
*.d
*.clang-tidy
*.deb

build
third-party/downloads
third-party/mongoose-*
third-party/grpc
third-party/mongoose-7.9
src/remote-cartesi-machine-proxy
src/compute-uarch-pristine-hash
src/remote-cartesi-machine
src/jsonrpc-remote-cartesi-machine
src/merkle-tree-hash
src/tests/test-machine-c-api
src/tests/test-merkle-tree-hash

doc/html
doc/api.md
doc/html/
doc/xml/

.venv
.vscode
.ycm_extra_conf.py

*.raw
*.so
*.dylib
*.dtb
.DS_Store
