id: "0"

requirements:
  predicate:
    predicateType: "PrefixMatch"
    data: "0x__IMAGE_ID__"

  callback:
    addr: "0x0000000000000000000000000000000000000000"
    gasLimit: "0"

  selector: "0x00000000"

imageUrl: "__GUEST_IPFS_URL__"

input:
  inputType: "Url"
  data: "0x__INPUT_URL_HEX__"

offer:
  minPrice: "__MIN_PRICE_WEI__"
  maxPrice: "__MAX_PRICE_WEI__"
  rampUpStart: 0
  timeout: __TIMEOUT__
  rampUpPeriod: __RAMP_UP_PERIOD__
  lockTimeout: __TIMEOUT__
  lockCollateral: "0"
