#!/bin/sh
export LUA_PATH="$(lua5.4 -e 'print(package.path)');ARG_LUA_PATH"
export LUA_CPATH="$(lua5.4 -e 'print(package.cpath)');ARG_LUA_CPATH"
export CARTESI_IMAGES_PATH="ARG_INSTALL_PATH"
lua5.4 "ARG_BIN_INSTALL_PATH/cartesi-machine.lua" "$@"
