#!/bin/sh
export LUA_PATH_5_4="ARG_LUA_PATH;${LUA_PATH_5_4:-${LUA_PATH:-;}}"
export LUA_CPATH_5_4="ARG_LUA_CPATH;${LUA_CPATH_5_4:-${LUA_CPATH:-;}}"
export CARTESI_IMAGES_PATH="${CARTESI_IMAGES_PATH:-ARG_IMAGES_PATH}"
lua5.4 "ARG_LUA_RUNTIME_PATH/cartesi-machine.lua" "$@"
