Package: cartesi-machine-tests-data
Source: cartesi-machine-tests-data
Version: ARG_VERSION
Homepage: https://github.com/cartesi/machine-emulator
Architecture: all
Maintainer: Cartesi Machine Reference Unit
Provides: cartesi-machine-tests-data
Depends: cartesi-machine-emulator (>= ARG_VERSION), procps
Section: devel
Priority: optional
Multi-Arch: foreign
Description: Cartesi Machine emulator tests data
