#!/bin/sh
export LUA_PATH_5_4="${LUA_PATH_5_4:-;};ARG_LUA_PATH"
export LUA_CPATH_5_4="${LUA_CPATH_5_4:-;};ARG_LUA_CPATH"
export CARTESI_IMAGES_PATH="ARG_INSTALL_PATH"
lua5.4 "ARG_BIN_INSTALL_PATH/uarch-riscv-tests.lua" "$@"
